* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container {
    height: 100vh;
    width: 100%;
    background-image: url(./assets/pc.svg);
    background-size: 500px;
    background-position: 90% center;
    background-repeat: no-repeat;
     background-color: #00008B;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 9px;
    padding-top: 20px;
    border-bottom: 3px solid transparent;
    background: #000000;
}

.portfolio {
    color: white;
    font-weight: 400;
}

li {
    color: white;
    list-style: none;
    display: inline-block;
    font-size: 25px;
    font-weight: 0;
    margin-right: 50px;
    cursor: pointer;

}

li:hover {
    color: #3c6232;
    transition: 0.5s;
}

.name {
    position: absolute;
    top: 40%;
    left: 5%;
}

.meu-name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 20px;
}

.meu-name span {
    color: #3c6232;
}

.developer {
    font-size: 39px;
    font-weight: 400;
    color: #ffffff;
}

.foto-de-perfil {
    height: 700px;
}

section {
    display: flex;
    align-items: center;
    background-color: #C0C0C0;
}



section div h2 {
    color:#000000;
    font-size: 55px;
    font-weight: 100;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

section div p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 750px;
    font-size: 30px;
    margin: 30px 0 30px 0;
}

.btn-contact {
    color: white;
    padding: 25px;
    font-size:20px;
    background-color: #000000;
    border: none;
    border-radius: 13px;
}

.sobre-mim{
    margin-left: 80px;
}


.projetos{
    background-color: #00008B;
}

.projetos h2{
    color: #ffffff;
    font-size: 55px;
    text-align: center;
    position: relative;
    top: 40px;
}

.frutaria {
    height: 70px;
}

.card {
    background: #C0C0C0;
    width: 300px;
    height: 335px;
    padding: 20px 35px;
    border-radius: 20px;
    text-align: center;
}

.carregando{
    width: 180px;
    margin-top: 40px;
}

.card h5 {
    color:#000000;
    font-size: 28px;
}

.card p {
    font-size: 14px;
    margin: 20px 20px;
}

.card a {
    color: white;
    background: #000000;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
}



.card-projetos{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
