* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
}

.container {
    height: 100vh;
    width: 100%;
    background-image: url(./assets/Online\ games\ addiction-bro.svg);
    background-size: 600px;
    background-position: 90% center;
    background-repeat: no-repeat;
    background-color: #2A2953;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 9px;
    padding-top: 20px;
    border-bottom: 3px solid transparent;
    background-color: black;
}

.portfolio {
    color: white;
    font-weight: 400;

}

.portfolio span {
    color: #8A2BE2;

}

li {
    color: white;
    list-style: none;
    display: inline-block;
    font-size: 25px;
    margin-right: 50px;
    cursor: pointer;

}

li:hover {
    color: #3c6232;
    transition: 0.5s;
}

.name {
    position: absolute;
    top: 45%;
    left: 10%;
}

.meu-name {
    font-size: 50px;
    font-weight: 400;
    color: white;
}

.meu-name span {
    color: #3c6232;
}

.developer {
    font-size: 50px;
    font-weight: 400;
    color: white;
}
.foto-de-perfil{
    height: 700px;
}

section {
    display: flex;
    align-items: center;
    background-color: #808080;
}



section div h2{
    color: white;
    font-size: 35px;
    font-weight: 100;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

section div p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 750px;
    font-size: 20px;
    margin:30px 0 30px 0 ;
}

.btn-contact{
    color: white;
    padding: 15px;
    background-color: #3c6232;
    border: none;
    border-radius: 13px;
    
}